<img src="/assets/cl.png" class="cl"><img src="/assets/cr.png" class="cr pull-right">

<div class="brand">
	<img src="/assets/logo.png" class="logo">
	<img src="/assets/titl.png" class="brandName">
</div>

<div class="pageData">
	<img src="/assets/entry2.png" class="entry img-responsive">
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<div class="symbols">
		<img src="/assets/symbols/hindu.jpg" class="h img-circle">
		<img src="/assets/symbols/islam.jpg" class="i img-circle">
		<img src="/assets/symbols/christ.jpg" class="c img-circle">
		<img src="/assets/symbols/khanda.jpg" class="k img-circle">
		<img src="/assets/symbols/bhuddism.png" class="b img-circle">
		<img src="/assets/symbols/zoroastrin.jpg" class="z img-circle">
		<img src="/assets/symbols/jewish.png" class="j img-circle">
	</div>
		<div class="feedback-button noselect">Find A Preist ..?</div>
		
	</div>
	<div class="col-md-6"></div>
</div>


